<div class="header">
    <div class="banner">
      <div class="container" *ngIf="article">
          <h1>{{article.title}}</h1>
      </div> 
        <div class="nav-menu">
            <a [routerLink]="['/profiles', article.author.username]">
                <img [src]="article.author.image"class="round-image" >
            </a>
            <a [routerLink]="['/profiles', article.author.username]" class="userName">
                {{article.author.username}}
            </a>
            <span class="date">
                {{article.createdAt|date}}
            </span>
        </div>
        <span *ngIf="isAuthor$ | async">
            <a [routerLink]="['/articles', article.slug, '/edit']">
                <mat-icon>update</mat-icon>Edit Article
            </a>
            <a [routerLink]="['/articles', article.slug, '/edit']">
                <mat-icon>delete</mat-icon>Delete Article
            </a>
        </span>
    </div>
</div>
<div class="container page">
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    <div *ngIf="article">
        <div class="article">
            <p>{{article.body}}</p>
        </div>
    </div>
    <app-tag-list [tagList]="article.tagList"></app-tag-list>
</div>
  