
<mat-spinner *ngIf='isLoading$ | async'></mat-spinner>
<!--<div>{{feeds$ | async | json}}</div>-->

<div *ngIf = 'feeds$ | async'>
    
    <mat-card class="example-card" *ngFor = 'let article of (feeds$ | async)?.articles'>
    <div class="check1">
        <mat-card-header>
            <a [routerLink]="['/profiles', article.author.username]">
                <div mat-card-avatar class="example-header-image">
                    <img mat-card-avatar class="example-header-image" [src]="article.author.image">
                </div>
            </a>
        </mat-card-header>
        <div class="check">
            <mat-card-title>
                <a [routerLink]="['/profiles', article.author.username]">
                    <h4>{{article?.author?.username}}</h4>
                </a>
            </mat-card-title>
            <h4>&nbsp;.{{article?.createdAt | date }}</h4>
        </div>
    </div>
        <a [routerLink]="['/articles',article.slug]">
            <mat-card-title-group>
                <mat-card-title>{{article?.title}}</mat-card-title>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
                {{article?.description}}
            </mat-card-content>
        </a>
        <mat-card-actions>
            <div class="tags">
                <app-tag-list [tagList]="article?.tagList"></app-tag-list>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </div>
            
          </mat-card-actions>
    </mat-card>
    <app-pagination
    [total]="(feeds$ | async)?.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
    [data] = "feeds$"
    [dataSource]="(feeds$ | async)?.articles">
    </app-pagination>
    <!-- <app-pagination></app-pagination> -->
    
</div>