<mat-toolbar>
    <span color="primary"><h1>Condra</h1></span>
    <span class="example-spacer"></span>
    <a [routerLink]="['/']">
      
      <h5>Home</h5>
      
    </a>
    <ng-container *ngIf="isLoggedIn$ | async">
      <ul>
        <li>
          <a [routerLink]="['/articles/new']">
            <span class="mat-button-wrapper"><mat-icon>post_add</mat-icon></span>
            <h5>New Article</h5>
            
          </a>
        </li>
        <li>
          <a [routerLink]="['/settings']">
            <span class="mat-button-wrapper"><mat-icon>settings_application</mat-icon></span>
            <h5>Settings</h5>
            
          </a>
        </li>
        <li>
          <a [routerLink]="['/profile', (currentUser$ |async)?.username]">
            <span class="mat-button-wrapper"><mat-icon>account_circle</mat-icon></span>
            <img [src]="(currentUser$ |async)?.image">
            <h5>{{(currentUser$ |async )?.username}}</h5>
          </a>
        </li>
    </ul>
    </ng-container>
    <ng-container *ngIf="isAnonymous$ | async ">
      <ul>
        <li>
          <a [routerLink]="['/login']">
            <h5>Sign In</h5>
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']">
            <h5>Sign Up</h5>
          </a>
        </li>
    </ul>
    </ng-container>
</mat-toolbar>