body, * {
    overflow-x: hidden;
}
.example-spacer {
    flex: 1 1 auto;
}
a {
    display: flex;
    text-decoration: none;
}
a span .mat-icon {
    padding-top: 3.5px !important;
} 
ul{
    list-style-type: none;
    display: flex;
    margin: 10px 20px;
    padding: 4px;
    text-align: justify;
} 

ul li {
    padding: 0 10px;
}
h1{
    font-weight: bold;
    font-size: 25px;
}