
<div class='header'>Sign Up</div>
<div class="check"><a>Already have an account?</a></div>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput placeholder="pat" [formControl]="name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-icon matSuffix >email</mat-icon>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="button">Sign up
    </button>
</form>
